@import "tailwindcss";

:root {
  --main: #333333;
  --primary: #ebdfd1;
  --secondary: #e9e8e6;
  --bgorder: #f9f9f9;
  --buttonbg:#f9e1cc;
}
* {
  /* font-family: "Syne", sans-serif; */
  font-family: "Sansation" ,sans-serif;
}
