@import "tailwindcss";

<<<<<<< HEAD
:root {
	--main: #333333;
	--primary:#EBDFD1;
	--secondary: #E9E8E6;
    
}
* {
	font-family: "Syne" , sans-serif;
=======
* {
  font-family: "Syne", sans-serif;
}

:root {
  --main: #333333;
>>>>>>> 4b6a002 (login Page)
}
